/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */
@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Black.woff2') format('woff2'),
        url('Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



html, body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 93px;
    padding: 0 265px;
}

.logo {
    margin: auto 0;

}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ref-menu {
    color: #868686;
    display: block;
    text-decoration: none;
    margin: auto 0;
    padding: 12px 21px;
    font-family: 'Lato', sans-serif;
    font-size: 13.5px;  
    text-transform: uppercase;
}

.ref-menu:hover {
    background-color: #ffbb42;
    color: #ffffff;
    border-radius: 1px;
}

.request-block {
    background: linear-gradient(#709dca 589px, transparent 175px);
    height: 730px;
    display: flex;
    flex-direction: column;
    padding: 110px 265px 70px 265px;
}

.wrapper-slogan {
    text-align: center;
    color: #ffffff;
    padding-bottom: 30px;
}

.h-slogan {
    font-family: 'Gotham';
    font-size: 35px;
    letter-spacing: -0.025em;
    font-weight: bold;
}

.p-slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.wrapper-request {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}


.input-group {
   background-color: #ffffff;
   width: 280px;
   display: flex;
   float: left;
   height: 45px;
   margin: 5px;
   border-radius: 2px;
}

.request-item {
    border: none;
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 45px;
    outline: none;
}

.request-item-submit {
    background-color: #ffbb42;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.input-icon {
    margin-left: 15px;
    line-height: 45px;
    color: #6e6e6e;
}

.copyright-block {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    background-color:  #709dca;
}